.right_side{
    position: relative;
    margin: 25px;
    /* margin-right: 10px; */
    font-size: 3.5mm;
}

.right_side #header_line{
    display: inline-block;
    /* border-bottom: 1px solid #00304771; */
    border-bottom: 1px solid #03a9f4;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    font-size: 5mm;
    font-weight: 700;
}

.right_side p{
    line-height: 130%;
}

.technologies .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: center;
}

.technologies .box p{
    color: #848c99;
    
}

.technologies #percent {
    position: relative;
    width: 100%;
    height: 8px;
    background: #848c99;
    display: block;
    margin-top: 5px;
    margin-bottom: 7px;
}
.technologies #percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.technologies #header_line{
    margin-bottom: 10px;
    margin-top: 0;
    margin-top: 32px;
}


.skills #icon{
    color: #03a9f4;
}

.skills #header_line{
    margin-bottom: 10px;
}

.skills .technical{
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
}



.experience #position_title{
    font-size: 5mm;
    font-weight: 500;
}

.experience span{
    font-size: 3.5mm;
    color: grey;
}

#new_line_sep{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 5px;
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    font-size: 110%;
}

.experience #separator{
    color: #03a9f4;
}

.experience #position_title{
    margin-top: 10px;
}

.experience .position {
    border-bottom: thin dotted hsla(199, 98%, 48%, 0.2);
    padding-bottom: 10px;
}

.experience div:last-child{
    border: none;
}


