@page{
    size: A4;
    margin: 0;
}

@media print{
    body{
        margin: 0;
        padding: 0;
        background: white;
    }

    #container{
        width: 210mm;
        height: 296mm;
        box-shadow: none;
        overflow: hidden;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}
