#right_side{
    padding: 3.5mm;
}

#right_side #profile_text{
    text-align: justify;
    line-height: 3.8mm;
    font-weight: 200;
    margin-bottom: 1mm;
}

#skills #technical{
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    padding-bottom: 1mm;
    margin-bottom: 1mm;
}

/* EXPERIENCE */

#experience .position_title{
    font-size: 120%;
    font-weight: 500;
    padding-top: 2mm;
}

#experience .position_title#first{
    padding-top: 0;
}

#experience .position_company{
    color: #848c99;
    font-size: 80%;
}

#experience .responsibilities{
    font-size: 90%;
}

#new_line_sep{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 1px;
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    font-size: 110%;
}

/* EDUCATION */

#education{
    margin-top: 1mm;
}

#education ul li{
    padding-top: 0.5mm;
}

#education .icon{
    color: #03a9f4;
}

#years{
    font-weight: 500;
}

.edu_spec{
    font-size: 80%;
    color: #848c99;
    padding-left: 6mm;
}
