@page{
    size: A4;
    margin: 0 !important;
}


@media print{
    body{
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    #container{
        width: 210mm;
        height: 296mm; 
        box-shadow: none;
        display: block;
    }

    #container, #container *{
        visibility: visible;
    }


}