#right_side{
    padding: 5mm;
}

#technologies .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: center;
}

#technologies .box p{
    color: #848c99;
    
}

#skills #technical{
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    padding-bottom: 1mm;
    margin-bottom: 1mm;
}

/* EXPERIENCE */

#experience .position_title{
    font-size: 120%;
    font-weight: 500;
    padding-top: 4mm;
}

#experience .position_title#first{
    padding-top: 0;
}



#experience .position_company{
    color: #848c99;
    font-size: 80%;
}

#experience .responsibilities{
    font-size: 90%;
}

#new_line_sep{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 2px;
    border-bottom: thin solid hsla(199, 98%, 48%, 0.2);
    font-size: 110%;
}

#certificates .cert_name{
    font-weight: 400;
}

#certificates .cert_details{
    color: #848c99;
    font-size: 80%;
}

#certificates ul li:not(:last-child){
    padding-bottom: 2mm;
}

